 h3 {
        text-align: center;
        color: red;
    }

    body {

        background-color: black;

    }

     .chart-title {
        background-color: black;
         color: red;
         font-weight:bold;

    }

     .chart-stage {
         background-color: purple;
     }