 h3 {
        text-align: center;
        color: red;
    }

    body {

        background-color: white;

    }

     .chart-title {
        background-color: black;
         color: red;
         font-weight:bold;

    }

    .chart-stage {
        background: black;
        position: relative;
        margin:0 auto;
        font-size: 29px;
        color: white;
        vertical-align: middle;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 0px
    }

    .button {
        margin: auto;
        display: block;
    }